<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brendah | Freelance Developer</title>
  <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
  <link rel="icon" href="assets/favicon.ico"/>
</head>
<body>
  <header>
    <nav class="navbar">
      <h1> Brendah Dev</h1>
      <ul class="nav-links">
        <li><a href="{{ url_for("home") }}">Home</a></li>
        <li><a href="{{ url_for("about") }}">About</a></li>
        <li><a href="{{ url_for("projects") }}">Projects</a></li>
        <li><a href="{{ url_for("services") }}">Services</a></li>
        <li><a href="{{ url_for("contact") }}">Contact</a></li>
      </ul>
    </nav>
  </header>
  <section class="bibi">
    <div class="bibi-content">
      <h2>Hi, I am Brendah</h2>
      <p>I build stunning websites using HTML,CSS,Javascript and Python</p>
       <a href="NAMUREMA BRENDAH CV-.pdf" download class="btn">Download CV</a>
    </div>
  </section>
 <script src="{{url_for("static", filename="script.js") }}"></script>
</body>
</html>